numpy
pandas
torch>=2.4.0
torchvision>=0.21.0
tqdm>=4.67.1
json
opencv-python>=4.12.0.88
matplotlib>=3.7.5
matplotlib-inline>=0.1.7
seaborn
scikit-learn>=1.3.2
scipy>=1.10.1
seaborn>=0.13.2
jupterlab
notebook